body {
	background-color: #252525;
	font-size: 16px;
	font-family: Trebuchet MS;
	color: white;
	margin-left: 15%;
	margin-right: 15%;
}

h1 {
	text-align: center;
	background-color: #47C6E2;
	color: #252525;
	position: relative;
	top: 50%;
	vertical-align: middle;
}

h2 {
	color: #47C6E2;
	margin-bottom: 8px;
	margin-top: 30px;
}

h3 {
	margin-bottom: 0px;
	color: #909090;
}

p {
	margin-top: 5px;
}

.year {
	text-align: center;
	font-size: 28px;
	color: yellow;
	top: 50%;
}

#robotic {
	font-size: 40px;
	font-family: OCR A Std;
	color: white;
	text-align: center;
}

img {
	width: 100%;
	margin-bottom: 15px;
	text-align: center;
}

#yellow-button {
	background-color: yellow;
}

#back-yellow {
	font-size: 28px;
	color: yellow;
	top: 50%;
}

#back-blue {
	font-size: 28px;
	color: #47C6E2;
	top: 50%;
}

a {
	color: #252525;
}